<div class="custom-page-wrapper xcl-py-10 xcl-px-4 xl:xcl-px-0">
  <div class="xcl-max-w-[1110px] xcl-mx-auto">
    {{ content_for_layout }}
  </div>
</div>

{%  schema  %}
    {  
        "name":"Basic section",
        "settings":[],
        "presets": [
            {
                "name": "Basic section"
            }
        ]
    }

{% endschema %}